body {
    overflow: hidden;
    font-family: sans-serif;
}

.page-loading {
    background-image: linear-gradient(to top left, #ff8a00, #e52e71);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: pgLoad 2s ease-out forwards 1.2s;
}

@keyframes pgLoad {
    to {
        top: -100vh;
    }
}

.img5 {
    height: 5rem;
    animation: flip-scale-down-diag-2 1s linear both;
}

@keyframes flip-scale-down-diag-2 {
    0% {
        transform: scale(1) rotate3d(-1, 1, 0, -90deg);
    }
    50% {
        transform: scale(1) rotate3d(-1, 1, 0, -180deg);
    }
    100% {
        transform: scale(1.5) rotate3d(-1, 1, 0, -360deg);
    }
}

.whole {
    display: grid;
    grid-template-columns: 33.2fr 65fr;
}

.container1 {
    background-color: #F1CDD7;
    height: 50rem;
    padding-top: 4rem;
    padding-left: 4rem;
    color: rgb(134, 92, 108);
    font-size: 25px;
    line-height: 30px;
}

.logo {
    width: 6rem;
    font-weight: 800;
    color: rgb(166, 125, 140);
    fill: currentColor;
    margin-bottom: 1.8rem;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container2 {
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.link2 {
    color: rgb(79, 60, 201);
    border: none;
    text-decoration: none;
}

.container3 {
    margin: 9.2rem 18.6rem;
    /* background-color: blue; */
}

.head1 {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: x-large;
    font-weight: 750;
    margin-bottom: 1.9rem;
}

.bot1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(66, 133, 244);
    color: white;
}

.bot1:hover {
    cursor: pointer;
    background-color: rgba(0, 69, 181, 0.885);
    transition: 1s;
}

.img2 {
    width: 1rem;
    height: 1rem;
    background-color: rgb(242, 242, 242);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.img2:hover {
    cursor: pointer;
    background-color: rgb(209, 206, 206);
    transition: 1s;
}

img1 {}

.head2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.line {
    margin-top: 0.8rem;
    height: 0.01rem;
    width: 11rem;
    background-color: rgb(224, 224, 224);
    margin-right: 1rem;
}

.p1 {
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    color: rgb(132, 109, 142);
}

.input1 {
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(243, 243, 244);
    padding-right: 14.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

h3 {
    margin-bottom: 0.7rem;
}

.head3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.head4 {
    display: flex;
    justify-content: space-between;
}

.link3 {
    border: none;
    text-decoration: none;
    color: rgb(117, 60, 204);
}

.bot2 {
    padding-right: 4.7rem;
    padding-left: 4.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 8px;
    height: 2.5rem;
    background-color: rgb(234, 76, 137);
    border: none;
    outline: none;
}

.p3 {
    font-size: 0.9rem;
    color: white;
    font-weight: 700;
}

.bot2:hover {
    cursor: pointer;
    background-color: rgb(255, 149, 188);
    transition: 1s;
}

input:hover {
    background-color: white;
    box-shadow: 1px 1px 6px 2px rgb(235, 209, 219);
    transition: 1s;
}

input {
    border: 1px solid transparent;
}