body {
    overflow: hidden;
    font-family: sans-serif;
}

.whole {
    display: grid;
    grid-template-columns: 33.2fr 65fr;
}

.container1 {
    background-color: #F1CDD7;
    height: 50rem;
    padding-top: 4rem;
    padding-left: 4rem;
    color: rgb(134, 92, 108);
    font-size: 25px;
    line-height: 30px;
}

.logo {
    width: 6rem;
    font-weight: 800;
    color: rgb(166, 125, 140);
    fill: currentColor;
    margin-bottom: 1.8rem;
}

.container2 {
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.link2 {
    color: rgb(79, 60, 201);
    border: none;
    text-decoration: none;
}

.container3 {
    margin: 9.2rem 18.6rem;
    /* background-color: blue; */
}

.head1 {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: x-large;
    font-weight: 750;
    margin-bottom: 1.9rem;
}

.bot1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(66, 133, 244);
    color: white;
}

.img2 {
    width: 1rem;
    height: 1rem;
    background-color: rgb(242, 242, 242);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}